<h1>My name is: <%=@name%></h1>
<% if @name.nil? %>
<form>
  <input type="text" name="name">
  <input type="submit" name="Submit">
</form>
<% end %>
<div style='border: 3px dashed red'>
  <img src='https://i.imgur.com/jFaSxym.png'>
</div>